body {
    background: #000;
    height: 100vh;
}

/* Change the color of the arrow next to the input */
input::-webkit-calendar-picker-indicator {
    visibility: hidden;
}

.input-container{
    position: relative;
    width: fit-content;
    margin: auto;

    &.input-container::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        transform: translateY(25%) rotate(180deg);
        right: 0;
        color: #f00;
        width: 0px;
        height: 0px;
        border: 10px solid red;
        border-color: transparent transparent red transparent;
    }
}

p{
    color: white;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50%;

    &.active {
        border: 10px solid white;
        border-color: transparent transparent white transparent;
        animation: load 1s ease infinite;
    }

    &.loading.done {
        animation: none;
        background-color: lightgreen;
    }
}

@keyframes load {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

