@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

h1 {
  color: #5A70BD;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

input {
  font-size: clamp(1.5rem, 1, 2.5rem);
}

div[class*="flex"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div[class*="flex"][class*="--col"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div[class*="flex"][class*="--row"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  div[class*="flex"][class*="--row"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-inline: auto;
  margin-top: 2rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__group:first-child {
  margin-top: 1rem;
}

.form__control {
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.525rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  color: black;
  cursor: text;
}

.form__control *:not(input) {
  text-align: left;
}

.form__control::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form__control:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form__control::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form__control::placeholder {
  color: #000;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form__control::-webkit-datetime-edit {
  color: #000;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form__control:focus {
  outline: dotted 2px #000;
}

.form--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form--add > .form__plus {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
  font-size: 1rem;
  line-height: 1.3rem;
  background-color: #E3A857;
  text-align: center;
  border-radius: 50%;
}

.form__list {
  list-style: none;
  background: #007120;
  -webkit-box-shadow: 4px 4px 7px rgba(0, 113, 32, 0);
          box-shadow: 4px 4px 7px rgba(0, 113, 32, 0);
  border-radius: 14px;
  color: #E7FFEE;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-top: 0.2rem;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__delete {
  display: block;
}

a.btn,
button.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.75rem;
}

a.btn *:not(input),
button.btn *:not(input) {
  text-align: left;
}

a.btn[class*="--dark-green"],
button.btn[class*="--dark-green"] {
  background: #007120;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  border-radius: 14px;
  color: #E7FFEE;
}

a.btn[class*="--dark-green"]:hover,
button.btn[class*="--dark-green"]:hover {
  background: #1C532C;
}

a.btn[class*="--light-green"],
button.btn[class*="--light-green"] {
  background: #E7FFEE;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  color: #007120;
}

a.btn[class*="--light-green"]:hover,
button.btn[class*="--light-green"]:hover {
  background: #c3f0d0;
}

a.btn.btn--small,
button.btn.btn--small {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.375rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a.btn.btn--small *:not(input),
button.btn.btn--small *:not(input) {
  text-align: left;
}

div.btn-group {
  gap: 1rem;
}

.progression-container {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progression-dot {
  margin: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: #007120;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  border-radius: 14px;
  color: #E7FFEE;
  border-radius: 50%;
  position: relative;
}

@media (max-width: 768px) {
  .progression-dot {
    margin: 0.5rem;
  }
}

.progression-dot span {
  line-height: 2rem;
}

.progression-dot:not(.progression-dot:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 60%;
  width: 6rem;
  height: .7rem;
  background: #E3CF97;
  z-index: -1;
}

@media (max-width: 768px) {
  .progression-dot:not(.progression-dot:last-child)::after {
    width: 3rem;
  }
}

.progression-dot[data-active="true"] {
  background: #5A70BD;
  -webkit-box-shadow: inset -4px -4px 9px -4px #A8BAF8, inset 5px 5px 9px #1A2C68;
          box-shadow: inset -4px -4px 9px -4px #A8BAF8, inset 5px 5px 9px #1A2C68;
}

.progression-dot[data-active="false"] {
  background: #5A70BD;
  -webkit-box-shadow: 5px 4px 7px rgba(35, 48, 94, 0.5), inset -5px -5px 9px #1A2C68, inset 4px 4px 9px #A8BAF8;
          box-shadow: 5px 4px 7px rgba(35, 48, 94, 0.5), inset -5px -5px 9px #1A2C68, inset 4px 4px 9px #A8BAF8;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.js-loader {
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #b3b3b3;
}

.js-loader.active {
  background: orange;
  border: 0.5rem solid white;
  border-color: transparent transparent white transparent;
  -webkit-animation: load 1s ease infinite;
          animation: load 1s ease infinite;
}

.js-loader.done {
  position: relative;
  -webkit-animation: none;
          animation: none;
  background-color: lightgreen;
  outline: 1px solid black;
}

.js-loader.done::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.login {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login a[class^="btn"] {
  margin: 3rem 1rem 0 0;
}

body {
  background-color: #a5ffbe;
  background-image: url("../img/Desktop - 2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mb-10 {
  margin-bottom: 10vh;
}

.mt-5 {
  margin-top: 5vh;
}
/*# sourceMappingURL=main.css.map */