@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

h1 {
  color: #5A70BD;
  text-align: center;
  font-size: 2.5rem;
}

div[class*="flex"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div[class*="flex"][class*="--col"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div[class*="flex"][class*="--row"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-inline: auto;
  margin-top: 2rem;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.form-group:first-child {
  margin-top: 1rem;
}

.form-group input {
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 14px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  color: black;
  cursor: text;
}

.form-group input:focus {
  outline: dotted 2px #000;
}

.form-group input::-webkit-input-placeholder {
  color: #E7FFEE;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form-group input:-ms-input-placeholder {
  color: #E7FFEE;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form-group input::-ms-input-placeholder {
  color: #E7FFEE;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form-group input::placeholder {
  color: #E7FFEE;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

.form-group input::-webkit-datetime-edit {
  color: #E7FFEE;
  opacity: 0.5;
  font-size: 0.7rem;
  font-weight: normal;
}

a.btn,
button.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 14px;
}

a.btn[class*="--dark-green"],
button.btn[class*="--dark-green"] {
  background: #007120;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  border-radius: 14px;
  color: #E7FFEE;
}

a.btn[class*="--dark-green"]:hover,
button.btn[class*="--dark-green"]:hover {
  background: #1C532C;
}

a.btn[class*="--light-green"],
button.btn[class*="--light-green"] {
  background: #E7FFEE;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  color: #007120;
}

a.btn[class*="--light-green"]:hover,
button.btn[class*="--light-green"]:hover {
  background: #c3f0d0;
}

.progression-container {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progression-dot {
  margin: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: #007120;
  -webkit-box-shadow: 4px 4px 7px #007120;
          box-shadow: 4px 4px 7px #007120;
  border-radius: 14px;
  color: #E7FFEE;
  border-radius: 50%;
  position: relative;
}

.progression-dot span {
  line-height: 2rem;
}

.progression-dot:not(.progression-dot:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 60%;
  width: 6rem;
  height: .7rem;
  background: #E3CF97;
  z-index: -1;
}

.progression-dot[data-active="true"] {
  background: #5A70BD;
  -webkit-box-shadow: inset -4px -4px 9px -4px #A8BAF8, inset 5px 5px 9px #1A2C68;
          box-shadow: inset -4px -4px 9px -4px #A8BAF8, inset 5px 5px 9px #1A2C68;
}

.progression-dot[data-active="false"] {
  background: #5A70BD;
  -webkit-box-shadow: 5px 4px 7px rgba(35, 48, 94, 0.5), inset -5px -5px 9px #1A2C68, inset 4px 4px 9px #A8BAF8;
          box-shadow: 5px 4px 7px rgba(35, 48, 94, 0.5), inset -5px -5px 9px #1A2C68, inset 4px 4px 9px #A8BAF8;
}

.login {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a[class^="btn"] {
  margin: 3rem 1rem 0 0;
}

a:last-child {
  margin-bottom: 10vh;
}

body {
  height: 100vh;
  background-image: url("../img/Desktop - 2.png");
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */