div[class*="flex"] {
    display: flex;

    &[class*="--col"] {
        flex-direction: column;
    }

    &[class*="--row"] {
        flex-direction: row;

        @include media-min($phone) {
            flex-direction: column;
        }
    }

}