form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-inline: auto;
    margin-top: 2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:first-child {
        margin-top: 1rem;
    }

}

.form__control {
    border: none;
    @include button(0.7rem, left);
    @include placeholder(#000, 0.7rem);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    color: black;
    cursor: text;

    &:focus {
        @include active-btn-light-green;
    }

}

.form--add {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &>.form__plus {
        width: fit-content;
        aspect-ratio: 1;
        font-size: 1rem;
        line-height: 1.3rem;
        background-color: $strong-orange;
        text-align: center;
        border-radius: 50%;
    }
}

.form__list {
    list-style: none;
    @include btn-dark-green($opacity: 0);
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

.form__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__delete {
    display: block;
}