form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-inline: auto;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:first-child {
        margin-top: 1rem;
    }

    input {
        border: none;
        @include button(0.7rem, left);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 0.5rem 1rem;
        color: black;
        cursor: text;

        &:focus {
            @include active-btn-light-green;
        }

        @include placeholder(#000, 0.7rem)
    }
}