a.btn,
button.btn {

    border: none;
    @include button;

    &[class*="--dark-green"] {
        @include btn-dark-green;

        &:hover {
            background: $hover-dark-green;
        }
    }

    &[class*="--light-green"] {
        @include btn-light-green;

        &:hover {
            background: $hover-light-green;
        }
    }
}