body {
    height: 100vh;
    background-color: #a5ffbe;
    background-image: url("../img/Desktop\ -\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mb-10 {
    margin-bottom: 10vh;
}

.mt-5 {
    margin-top: 5vh;
}