body {
    background-color: #a5ffbe;
    background-image: url("../img/Desktop\ -\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include media-min($phone) {
        background-image: none;
        height: 100vh;
    }
}

.mb-10 {
    margin-bottom: 10vh;
}

.mt-5 {
    margin-top: 5vh;
}