@mixin btn-light-green {
    background: $light-green;
    box-shadow: 4px 4px 7px $dark-green;
    color: $dark-green;
}

@mixin btn-dark-green($opacity: 7px) {
    background: $dark-green;
    box-shadow: 4px 4px $opacity $dark-green;
    border-radius: 14px;
    color: $light-green;
}

@mixin active-btn-dark-green($opacity: 7px) {
    background: $dark-green;
    box-shadow: 4px 4px $opacity rgba($dark-green, 0.6);
}

@mixin active-btn-light-green($opacity: 7px) {
    outline: dotted 2px #000;
}

@mixin active-btn-purple {
    background: $light-purple;
    box-shadow: inset -4px -4px 9px -4px #A8BAF8,
        inset 5px 5px 9px #1A2C68;
}

@mixin btn-purple {
    background: $light-purple;
    box-shadow: 5px 4px 7px rgba(35, 48, 94, 0.5),
        inset -5px -5px 9px #1A2C68,
        inset 4px 4px 9px #A8BAF8;
}

@mixin button($size: 1rem) {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: $size;
    font-weight: bold;
    padding: $size 2*$size;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 14px;
}

@mixin placeholder($color, $size:1rem, $weight:normal) {
    &::placeholder {
        color: $color;
        opacity: 0.5;
        font-size: $size;
        font-weight: $weight;
    }

    // Change the color of the date placeholder
    &::-webkit-datetime-edit {
        color: $color;
        opacity: 0.5;
        font-size: $size;
        font-weight: $weight;
    }
}