$dark-green: #007120;
$light-green: #e7ffee;
$light-purple: #5a70bd;
$hover-dark-green: #1c532c;
$hover-light-green: #c3f0d0;
$dim-orange: #e3cf97;
$strong-orange: #e3a857;
$phone: 768px;
$button-nav-size: 3rem;
$dark-blue: #1b348b;
