$dark-green: #007120;
$light-green: #E7FFEE;
$light-purple: #5A70BD;
$hover-dark-green: #1C532C;
$hover-light-green: #c3f0d0;
$dim-orange: #E3CF97;
$strong-orange: #E3A857;
$phone : 768px;
$button-nav-size : 3rem;